  <%= javascript_include_tag :ckeditor %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the following errors::</h2>
      <% @page.errors.to_a.in_groups(2, false).each do |group| %>
      <ul>
        <% group.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <br style="clear: both;" />
      <% end %>
      <br style="clear: both;" />
    </div>
    <br style="clear: both;" />
  <% end %>

  <fieldset class="form_container">
    <%= legend_tag 'Page Details' -%>
    <div class="form_column">
      <%= f.text_field :page_title -%>
      <%= f.text_field :window_title -%>
      <%= f.text_field :desired_slug, :label => 'Permalink', :value => @page.slug -%>
    </div>
    <div class="form_column">
      <%= f.select :state, Page::STATES.map{|s| s.capitalize}, :value => @page.status, :label => 'Status' -%>
      <%= f.check_box :sitemap, :label => 'Sitemap', :help => 'Include this page in the XML sitemap for search engine spiders?', :inline_label => 'Include in Sitemap' -%><br />
      <%= f.check_box :noindex, :label => 'Spidering Directive', :help => 'Allow search engine spiders to index this page?', :inline_label => 'Disable Indexing' -%>
    </div>
  </fieldset>

  <fieldset class="form_container">
    <%= legend_tag 'Meta Content&nbsp;' -%>
    <div class="form_column">
      <%= f.text_area :meta_description -%>
    </div>
    <div class="form_column">
      <%= f.text_area :meta_keywords -%>
    </div>
  </fieldset>

  <fieldset class="form_container">
    <%= legend_tag 'Content&nbsp;' -%>
    <div class="form_column">
      <%= f.cktext_area :content, :toolbar => 'Full', :width => '900px' -%>
    </div>
    <div class="form_column">
    </div>
  </fieldset>

  <%= f.submit 'Save', :class => 'button' -%>
  <%= f.submit 'Preview', :class => 'button' -%>
  <%= link_to 'Cancel', admin_site_page_path(@site, @page), :class => 'button' -%>
  <br style="clear: both;" />
