  <%= javascript_include_tag :ckeditor %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the following errors::</h2>
      <% @page.errors.to_a.in_groups(2, false).each do |group| %>
      <ul>
        <% group.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <br style="clear: both;" />
      <% end %>
      <br style="clear: both;" />
    </div>
    <br style="clear: both;" />
  <% end %>

  <fieldset class="form_container">
    <%= legend_tag 'Page Details' -%>
    <div class="form_column">
      <%= f.text_field :page_title, :help => 'This title will appear on the page before any content, and is used by search engines to identify the main idea of the page.' -%>
      <%= f.text_field :window_title, :help => 'This title appears at the top of the browser window and is used by search engine spiders to uniquely identify a given page.' -%>
      <%= f.text_field :desired_slug, :help => "The permalink forms part of the URL for this page. For example, entering my-page will create the URL 'http://www.#{@site.domain}/my-page/'.", :label => 'Permalink', :value => @page.slug || '/'-%>
    </div>
    <div class="form_column">
      <%= f.select :state, Page::STATES.map{|s| s.capitalize}, :selected => @page.status, :label => 'Status', :help => 'Content may either be in a published or draft state. Draft content can be previewed but will not appear on the public-facing web site.' -%>
      <%= f.check_box :sitemap, :label => 'Sitemap Inclusion', :help => 'Include this page in the XML sitemap for search engine spiders?', :inline_label => 'Include in Sitemap' -%><br />
      <%= f.check_box :noindex, :label => 'Search Engine Visibility', :help => 'Allow search engine spiders to index this page?', :inline_label => 'Disable Indexing' -%>
    </div>
  </fieldset>

  <fieldset class="form_container">
    <%= legend_tag 'Meta Content', :help => 'The meta description should provide a brief overview of the content of this page, up to 255 characters. This description may be displayed with the page title on search engine results pages.' -%>
    <div class="form_column">
      <fieldset>
        <label for="page_meta_description">Meta Description (<span id="meta_counter">255</span> characters remaining)</label><br />
        <%= f.text_area :meta_description, :maxlength => 255, :label => false, :fieldset => false -%>
        <%= countdown_field('page_meta_description','meta_counter',255) %>
      </fieldset>
    </div>
    <div class="form_column">
      <%= f.text_area :meta_keywords -%>
    </div>
  </fieldset>

  <fieldset class="form_container">
    <%= legend_tag 'Content&nbsp;' -%>
    <div class="form_column">
      <%= f.cktext_area :content, :toolbar => 'Full', :width => '900px', :height => '500px' -%>
    </div>
    <div class="form_column">
    </div>
  </fieldset>

  <%= f.submit 'Save', :class => 'button' -%>
  <%= f.submit 'Preview', :class => 'button' -%>
  <%- if @page.new_record? -%>
    <%= link_to 'Cancel', admin_site_pages_path(@site), :class => 'button' -%>
  <%- else -%>
    <%= link_to 'Cancel', admin_site_page_path(@site, @page), :class => 'button' -%>
  <%- end -%>
  <br style="clear: both;" />
