<table class="standard">
  <tr>
    <th><%= sort_link("admin/sites/#{@site.id}/pages", 'humanize_path', params) -%></th>
    <th><%= sort_link("admin/sites/#{@site.id}/pages", 'page_title', params) -%></th>
    <th><%= sort_link("admin/sites/#{@site.id}/pages", 'window_title', params) -%></th>
    <th><%= sort_link("admin/sites/#{@site.id}/pages", 'state', params) -%></th>
    <th><%= sort_link("admin/sites/#{@site.id}/pages", 'noindex', params) -%></th>
    <th><%= sort_link("admin/sites/#{@site.id}/pages", 'sitemap', params) -%></th>
    <th><%= sort_link("admin/sites/#{@site.id}/pages", 'updated_at', params) -%></th>
    <th> </th>
  </tr>
<%- if @pages.blank? -%>
  <tr><th colspan="8">No pages found.</th></tr>
<%- else -%>
  <%- @pages.each do |page| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to page.humanize_path, admin_site_page_path(@site, page) -%></td>
      <td><%= page.page_title -%></td>
      <td><%= page.window_title -%></td>
      <td><%= page.status -%></td>
      <td><%= page.noindex ? '√' : '' -%></td>
      <td><%= page.sitemap ? '√' : '' -%></td>
      <td><%= page.updated_at.to_s(:concise) -%></td>
      <td class="crud_links">
        <%= link_to image_tag('/images/icons/view.png'), admin_site_page_path(@site, page) -%>
        <%= link_to image_tag('/images/icons/edit.png'), edit_admin_site_page_path(@site, page) -%>
        <%= link_to image_tag('/images/icons/delete.png'), admin_site_page_path(@site, page), :method => :delete, :confirm => 'Are you sure? This action cannot be undone.' -%>
      </td>
    </tr>
  <%- end -%>
<%- end -%>
</table><br />
<div class="attached link_block">
  <%= link_to 'New Page...', new_admin_site_page_path(@site), :class => 'link_button' -%>
</div>
