<%- set_title 'Redirect Details' -%>

<fieldset class="form_container">
  <%= legend_tag 'About This Redirect' -%>

  <div class="form_column">
    <%= faux_field 'Source Url', @redirect.source_url %>
  </div>
  <div class="form_column">
    <%= faux_field 'Destination Url', @redirect.destination_url %>
  </div>
</fieldset>

<%= link_to 'Edit', edit_admin_site_redirect_path(@site, @redirect), :class => 'button' -%>
<%= link_to 'Back', admin_site_redirects_path(@site), :class => 'button' -%>
