  <% if @nav_item.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the following errors::</h2>
      <% @nav_item.errors.to_a.in_groups(2, false).each do |group| %>
      <ul>
        <% group.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
      <br style="clear: both;" />
    </div>
    <br style="clear: both;" />
  <% end %>

  <fieldset class="form_container">
    <%= legend_tag 'Navigation Link Details' -%>

    <div class="form_column">
      <%= f.hidden_field :parent_id, :value => params[:parent_id] unless params[:parent_id].blank? -%>
      <%= f.hidden_field :creating_page, :value => params[:creating_page] unless params[:creating_page].blank? -%>
      <%= f.text_field :link_text, :help => 'The text that appears as part of the link.' -%>
      <%= f.text_field :link_title, :help => 'The link title appears in the mouseover for the link.' -%>
      <%= f.text_field :url, :label => 'URL' -%>
    </div>
    <div class="form_column">
      <%- if @nav_item.new_record? -%>
        <%= f.select :parent_id, @root_links.map{|r| ["#{r.link_text} (#{r.kind} Link)", r.id]}, :label => 'Parent Navigation Link', :include_blank => 'None' -%>
      <%- end -%>
      <%- if @nav_item.parent_id -%>
        <%= f.hidden_field :kind, :value => @nav_item.parent.kind -%>    
      <%- else -%>
        <div id="kind_select">        
          <%= f.select :kind, NavItem::KINDS, :label => 'Navigation Item Kind' unless @nav_item.parent_id -%>
        </div>
      <%- end -%>
    </div>

    <br style="clear: both;" />
    <div class="link_block">
      <%= f.submit 'Save', :class => 'link_button' -%>
      <%= link_to 'Cancel', admin_site_nav_items_path(@site), :class => 'link_button' -%>
    </div>

  </fieldset>

  <br style="clear: both;" />

  <%- unless @nav_item.parent_id -%>
    <script type="text/javascript">
      Event.observe($('nav_item_parent_id'), 'change', function (){ 
        if ($('nav_item_parent_id').value) {
          $('kind_select').hide();
          var kind = /.+\((.+) Link\)/;
          var value = $('nav_item_parent_id').options[$('nav_item_parent_id').selectedIndex].text;
          $('nav_item_kind').value = value.replace(kind, "$1");
        } else {
          $('kind_select').show();
        }
      });
    </script>
  <%- end -%>