  <% if @nav_item.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the following errors::</h2>
      <% @nav_item.errors.to_a.in_groups(2, false).each do |group| %>
      <ul>
        <% group.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
      <br style="clear: both;" />
    </div>
    <br style="clear: both;" />
  <% end %>

  <fieldset class="form_container">
    <%= legend_tag 'Navigation Link Details' -%>

    <div class="form_column">
      <%= f.hidden_field :parent_id, :value => params[:parent_id] unless params[:parent_id].blank? -%>
      <%= f.hidden_field :creating_page, :value => params[:creating_page] unless params[:creating_page].blank? -%>
      <%= f.text_field :link_text, :help => 'The text that appears as part of the link.' -%>
      <%= f.text_field :link_title, :label => 'Link Description', :help => 'This description appears in the mouseover for the link.' -%>
      <%= f.text_field :url, :value => @nav_item.decoded_url, :label => 'URL' -%>
      <%= f.check_box :obfuscate, :label => 'Visibility', :inline_label => 'Hide from search engine spiders' -%>
    </div>
    <div class="form_column">
      <div id="kind_select">        
        <%= f.select :kind, NavItem::KINDS, :label => 'Navigation Item Kind', :include_blank => 'Select...' unless @nav_item.parent_id -%>
      </div>
      <div id="parent_select">
        <%- if params[:parent_id] -%>
          <%= f.hidden_field :parent_id, :value => @nav_item.parent_id -%>
          <%= f.hidden_field :kind, :value => @nav_item.parent.kind == "Main" : @nav_item.parent.kind -%>
        <%- elsif @nav_item.new_record? || @nav_item.kind == "Secondary" -%>
          <%= f.select :parent_id, @root_links.map{|r| ["#{r.link_text} (#{r.kind} Link)", r.id]}, :label => 'Parent Navigation Link', :include_blank => 'None' -%>
          <%- if @nav_item.parent_id -%>
            <%= f.hidden_field :parent_id, :value => @nav_item.parent_id -%>
            <%= f.hidden_field :kind, :value => @nav_item.parent.kind -%>
          <%- end -%>
        <%- end -%>
      </div>
    </div>

    <br style="clear: both;" />
    <div class="link_block">
      <%= f.submit 'Save', :class => 'link_button' -%>
      <%= link_to 'Cancel', admin_site_nav_items_path(@site), :class => 'link_button' -%>
    </div>

  </fieldset>

  <br style="clear: both;" />

  <%- unless @nav_item.parent_id -%>
    <script type="text/javascript">
      Event.observe($('nav_item_kind'), 'change', function (){ 
        if (($('nav_item_kind').value == 'Main') || ($('nav_item_kind').value == 'Footer')) {
          $('parent_select').hide();
        } else {
          $('parent_select').show();
        }
      });
    </script>
  <%- end -%>