<%- if ! nav_items.blank? -%>
<p>To reorder the navigation links, drag and drop the rows below using the drag icon on the right hand side of the table.</p>

<table class="standard">
  <thead>
    <tr>
      <th>Link Text</th>
      <th>Link Description</th>
      <th>URL</th>
      <th> </th>
      <th><%= image_tag '/images/icons/move_white.png' -%></th>
    </tr>
  </thead>
  
  <tbody id="content_list_<%= navitem_type -%>">
  <%- nav_items.sort{|a,b| a.position.to_i <=> b.position.to_i}.each do |nav_item| -%>
    <tr class="<%= cycle('odd', 'even') -%>" id="content_<%= nav_item.id -%>">
      <td><%= link_to nav_item.link_text, admin_site_nav_item_path(@site, nav_item) -%></td>
      <td><%= nav_item.link_title -%></td>
      <td><%= nav_item.decoded_url -%></td>
      <td class="crud_links">
        <%= link_to image_tag('/images/icons/delete.png'), admin_site_nav_item_path(@site, nav_item), :method => :delete, :confirm => 'Are you sure? This action cannot be undone.' -%>
      </td>
      <td style="width: 19px; cursor: move; " id="content_<%= nav_item.id -%>">
        <img src="/images/icons/drag.png" alt="Move" width="19" height="19" class="move_icon" />
      </td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<%= sortable_element "content_list_#{navitem_type}", :update => nil, :url => admin_site_reorder_nav_items_path(@site, :kind => navitem_type), :method => :put, :tag => 'tr' -%>

<%- else -%>
  <p><em>No <%= navitem_type -%> navigation items have been created yet.</em></p>
<%- end -%>