<%= tabset do -%>
  <%= tab_tag(:id => 'primary_nav', :label => 'Main', :state => 'active') -%>
  <%= tab_tag(:id => 'secondary_nav', :label => 'Secondary') -%>
  <%= tab_tag(:id => 'footer_nav', :label => 'Footer') -%>
<%- end -%>

<%= tab_body :id => 'primary_nav', :label => 'Navigation', :help => SiteLogic.primary_nav.description, :display => 'block' do -%>
  <%= render :partial => 'admin/nav_items/index', :locals => {:nav_items => @site.nav_items.primary.roots, :navitem_type => 'primary'} -%>
  <div class="link_block">
    <%= link_to 'New Navigation Link', new_admin_site_nav_item_path(@site), :class => 'link_button' -%>
  </div>
<%- end -%>

<%= tab_body :id => 'secondary_nav', :label => 'Navigation', :help => SiteLogic.secondary_nav.description, :display => 'none' do -%>
  <%= render :partial => 'admin/nav_items/index', :locals => {:nav_items => @site.nav_items.secondary.roots, :navitem_type => 'secondary'} -%>
  <div class="link_block">
    <%= link_to 'New Navigation Link', new_admin_site_nav_item_path(@site, :kind => 'Secondary'), :class => 'link_button' -%>
  </div>
<%- end -%>

<%= tab_body :id => 'footer_nav', :label => 'Navigation', :help => SiteLogic.footer_nav.description, :display => 'none' do -%>
  <%= render :partial => 'admin/nav_items/index', :locals => {:nav_items => @site.nav_items.footer.roots, :navitem_type => 'footer'} -%>
  <div class="link_block">
    <%= link_to 'New Navigation Link', new_admin_site_nav_item_path(@site, :kind => 'Footer'), :class => 'link_button' -%>
  </div>
<%- end -%>