<%- set_title 'Navigation Link Details' -%>

<fieldset class="form_container">
  <%= legend_tag 'Navigation Link Details' -%>
  <div class="form_column">
    <%= faux_field 'Link Text', @nav_item.link_text %>
    <%= faux_field 'Link Title', @nav_item.link_title %>
  </div>
  <div class="form_column">
    <%= faux_field 'URL', @nav_item.url %>
    <%= faux_field 'Position', "#{@nav_item.kind} Navigation" %>
  </div>
  <br style="clear: both;" />
  <div class="link_block">
    <%= link_to 'Edit', edit_admin_site_nav_item_path(@site, @nav_item), :class => 'link_button' -%>
    <%= link_to 'Back', admin_site_nav_items_path(@site), :class => 'link_button' -%>
  </div>
</fieldset>

<br style="clear: both;" />

<fieldset class="form_container">
  <%= legend_tag 'Sub-Navigation' -%>
  <%- unless @nav_item.children.empty? -%>
    <%= render :partial => 'index', :locals => {:navitem_type => 'children', :nav_items => @nav_item.children} -%>
  <%- else -%>
    <p>No sub-navigation links have been created for this navigation item.</p>
  <%- end -%>
  <br style="clear: both;" />
  <div class="link_block">
    <%= link_to 'New Sub-Navigation Link', new_admin_site_nav_item_path(@site, :parent_id => @nav_item.id), :class => 'link_button' -%>
  </div>
</fieldset>

