<%- set_title 'Sites' -%>

<table class="standard">
  <%- if @sites.blank? -%>
    <tr>
      <th colspan="5"><em>No sites have been created yet.</em></th>
    </tr>
  <%- else -%>
      <tr>
        <th><%= sort_link('sites', 'domain', params) -%></th>
        <th><%= sort_link('sites', 'name', params) -%></th>
        <th><%= sort_link('sites', 'state', params) -%></th>
        <th><%= sort_link('sites', 'redirect_to', params) -%></th>
        <th> </th>
      </tr>

    <%- @sites.each do |site| -%>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td><%= link_to site.domain, admin_site_path(site) -%></td>
        <td><%= site.name -%></td>
        <td><%= site.state -%></td>
        <td><%= site.redirect_to -%></td>
        <td class="crud_links"><%= admin_crud_links(site, [:show, :edit, :destroy]) -%></td>
      </tr>
    <%- end -%>
  <%- end -%>
  <tr>
    <td class="link_block" colspan="5">
      <%= link_to 'New Site', new_admin_site_path, :class => 'link_button' -%>
    </td>
  </tr>
</table>
