<%- set_title 'Site Details' -%>

<fieldset class="form_container">
  <%= legend_tag 'About This Site' -%>

  <div class="form_column">
    <%= faux_field 'Name', @site.name %>
    <%= faux_field 'Domain', @site.domain %>
  </div>
  <div class="form_column">
    <%= faux_field 'Status', @site.status %>
    <%= faux_field 'Activation Date', @site.activation_date.to_s(:concise) if @site.active? %>
    <%= faux_field 'Redirect To', @site.redirect_to unless @site.redirect_to.blank? %>
  </div>
</fieldset>

<%= link_to 'Edit Site', edit_admin_site_path(@site), :class => 'button' -%>
<%= link_to 'Edit Navigation', admin_site_nav_items_path(@site), :class => 'button' -%>
<%= link_to 'Back', admin_sites_path, :class => 'button' -%>
<br style="clear: both;" />

<%= render 'admin/pages/index' -%>
